<div class="container">
  <div>
    <div class="open-times">
      <div class="icons">
        <mat-icon>access_time_filled</mat-icon>
        <h1>Öffnungszeiten</h1>
      </div>
      <p>Montag - Freitag: 08:00 - 18:00 Uhr</p>
      <p>Samstag: 08:00 - 14:00 Uhr</p>
      <p>Sonntag: Geschlossen</p>
    </div>

    <div class="mobile-only">
      <div class="phone">
        <div class="icons">
          <mat-icon fontIcon="phone"></mat-icon>
          <h1>Telefon</h1>
        </div>
        <p>+41 79 333 56 92</p>
      </div>

      <div class="mail">
        <div class="icons">
          <mat-icon fontIcon="mail"></mat-icon>
          <h1>E-Mail</h1>
        </div>
        <p>info&#64;lrl-cars-cargo.ch</p>
      </div>
    </div>
  </div>

  <div class="location">
    <div class="icons">
      <mat-icon>location_on</mat-icon>
      <h1>Standort</h1>
    </div>
    <p>Flurlingerweg 15, 8245 Feuerthalen, Schaffhausen</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2685.8342270045364!2d8.640623776278796!3d47.68763928237808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a81e379c5d9a7%3A0xb5c6caef39151857!2sFlurlingerweg%2015%2C%208245%20Feuerthalen!5e0!3m2!1sde!2sch!4v1713468437478!5m2!1sde!2sch"
      width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<footer *ngIf="window.innerWidth > 768">
  &copy; 2024 LRL Cars & Cargo GmbH
  <span> | Datenschutz</span>
  <span> | Impressum</span>
</footer>
<footer *ngIf="window.innerWidth <= 768">
  &copy; 2024 LRL Cars & Cargo GmbH
  <div class="rights-container">
    <div class="rights data">
      Datenschutz
    </div>
    <div class="rights impressum">
      Impressum
    </div>
  </div>
</footer>
