h1 {
  padding-top: 150px;
  text-align: center;
  font-family: Lato-Black, sans-serif;
  font-size: 26px;
}

h3 {
  text-align: center;
  font-family: Lato-Regular, sans-serif;
  font-size: 17px;
  width: 90%;
  margin: 20px auto auto;
}

img {
  margin-bottom: 50px;
}

.about-us-mobile {
  width: 100%;
  margin-top: 15px;
}

.about-us {
  display: flex;
  width: 90vw;
  max-width: 1300px;
  margin: 35px auto auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    padding-top: 100px;
  }
}
