<h1>Ihr vertrauenswürdiger Partner für Occasionen und Oldtimer!</h1>

<h3>
  Willkommen auf meiner Webseite! Mein Name ist Lirjon Osmani, und ich bringe über 5 Jahre Erfahrung im Handel mit
  Occasionen mit. Meine Leidenschaft für Autos und mein Engagement für meine Kunden sind das Herzstück meiner Arbeit.
<br><br>
  Ich weiss aus eigener Erfahrung, wie herausfordernd der Autokauf sein kann. Als begeisterter Autosammler und Verkäufer
  verstehe ich die Bedürfnisse meiner Kunden genau. Ich habe unzählige Fahrzeuge verkauft und besitze selbst eine
  Sammlung, die ich mit grosser Sorgfalt und Begeisterung pflege.
  <br><br>
  Mein Ziel ist es, Ihnen nicht nur ein Auto zu verkaufen, sondern Ihnen ein einzigartiges Erlebnis zu bieten. Ich stehe
  Ihnen mit Rat und Tat zur Seite, damit Sie das perfekte Auto finden, das zu Ihnen und Ihrem Lebensstil passt. Ich bin
  stolz darauf, Ihnen eine breite Auswahl an hochwertigen Occasionen anbieten zu können, die sorgfältig geprüft und
  ausgewählt wurden.
  <br><br>
  Bei mir steht der Kunde immer im Mittelpunkt. Ich bin hier, um Ihre Fragen zu beantworten, Bedenken zu beseitigen und
  sicherzustellen, dass Ihr Autokauf reibungslos verläuft. Ich freue mich darauf, Sie auf Ihrem Weg zum nächsten Auto zu
  begleiten und Ihnen ein unvergleichliches Einkaufserlebnis zu bieten.
  <br><br>
  Danke, dass Sie meine Webseite besuchen. Ich freue mich darauf, Ihnen zu helfen!
</h3>
<img *ngIf="window.innerWidth <= 768" src="assets/about-us-mobile.png" alt="about-us-mobile" class="about-us-mobile">
<img *ngIf="window.innerWidth > 768" src="assets/about-us.png" alt="about-us" class="about-us">
<app-footer></app-footer>
