<div class="welcome-container">
  <div class="parallax">
    <img class="parallax-img" src="assets/red-background.jpg" alt="Parallax Image">
  </div>
  <div class="content">
    <h1 class="hidden animate-top" appIntersectionObserver>Keine Bremsen für gute Deals!</h1>
    <div class="hidden cars-container animate-bottom" appIntersectionObserver>
      <button class="buy-car" (click)="navigatePage('/fahrzeuge')">Fahrzeuge
      </button>
      <button class="sell-car" (click)="navigatePage('/verkaufen')">Auto
        Verkaufen
      </button>
    </div>
  </div>
  <div class="arrow hidden" appIntersectionObserver>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
