.welcome-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: auto;
  position: relative;

  .parallax {
    height: calc(100vh - 100px);
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      animation: smoothZoom 5.5s;
    }
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 120px;
  }

  @keyframes smoothZoom {
    0% {
      scale: 1.6;
    }
    100% {
      scale: 1;
    }
  }

  h1 {
    font-family: "Bebas Neue", serif !important;
    color: white;
    letter-spacing: 1.7px;
    line-height: 70px;
    font-size: 80px;
    font-weight: 700;
    position: absolute;
    width: 90%;
    margin-top: -40px;
    animation-delay: 1.5s;
  }

  .cars-container {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
    animation-delay: 2s;
  }

  .buy-car {
    text-wrap: nowrap;
    background-color: #D5302B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    top: 270px;
    left: 20px;
    width: 250px;
    height: 60px;
    transition: 0.3s;
  }

  .buy-car:hover {
    background-color: #f30333;
    transition: 0.3s;
    scale: 1.035;
  }

  .sell-car {
    text-wrap: nowrap;
    background-color: white;
    color: #D5302B;
    border: 1.5px solid #D5302B;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    top: 270px;
    right: 20px;
    width: 250px;
    height: 60px;
    transition: 0.3s;
  }

  .sell-car:hover {
    background-color: #cbcbcb;
    transition: 0.3s;
    scale: 1.035;
  }

  .arrow {
    animation-delay: 3.5s;
    position: absolute;
    bottom: 75px;
    z-index: 1;
    cursor: pointer;
  }

  .arrow span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    transform: rotate(45deg);
    margin: auto auto -15px auto;
    animation: arrow 2s infinite;
  }

  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }

  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }

  @keyframes arrow {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
}

@media screen and (max-width: 768px) {
  .welcome-container {
    margin-top: 90px;
    h1 {
      font-size: 52px;
      line-height: 50px;
    }

    .parallax {
      height: calc(100vh - 90px);
    }
  }
  .cars-container {
    width: 95vw;

    .buy-car {
      text-wrap: pretty;
      font-size: 20px;
      width: 190px;
      height: auto;
      padding: 15px 0 !important;
    }

    .sell-car {
      text-wrap: pretty;
      font-size: 20px;
      width: 190px;
      height: auto;
      padding: 15px 0 !important;
    }
  }
}
