.background {
  background: white;
  padding: 60px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }

  .wheel {
    max-height: 550px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  .services {
    border-top: 2px solid #D5302B;
    border-right: 2px solid #D5302B;
    border-bottom: 2px solid #D5302B;
    height: 546px;
    margin-top: -5px;
    width: 70%;
    max-width: 1200px;
  }
}

h1 {
  text-align: center;
  color: black !important;
  font-family: "Bebas Neue", serif !important;
  letter-spacing: 1.4px;
  line-height: 60px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: auto auto; /* Two rows that adjust based on content */
  place-items: center;
  align-content: center;
  height: 85%;
  column-gap: 20px;
}

.service {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  max-height: 250px;
  transition: all 0.3s ease-in-out;

  p {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

.service:nth-child(2) {
  animation-delay: 200ms;
}

.service:nth-child(3) {
  animation-delay: 600ms;
}

.service:nth-child(4) {
  animation-delay: 1000ms;
}

.service:nth-child(5) {
  animation-delay: 1400ms;
}

@media screen and (max-width: 1000px) {
  h1 {
    margin-top: -200px;
    margin-bottom: 200px;
    color: white !important;
  }
  .container {
    flex-direction: column;

    .wheel {
      border-radius: 15px 15px 0 0;
    }

    .services {
      border-top: none;
      border-left: 2px solid #D5302B;
      border-right: 2px solid #D5302B;
      border-bottom: 2px solid #D5302B;
      height: auto;
      width: 399px;
      margin-top: -200px;
      background-color: white;
    }

    .service {
      scale: 1;

      &:hover {
        scale: 1;
      }
    }

    .services-container {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    .service:nth-child(2) {
      animation-delay: 200ms;
    }

    .service:nth-child(3) {
      animation-delay: 200ms;
    }

    .service:nth-child(4) {
      animation-delay: 200ms;
    }

    .service:nth-child(5) {
      animation-delay: 200ms;
    }
  }
}

@media(prefers-reduced-motion) {
  .hidden {
    animation: none;
  }
}
