header {
  top: 0 !important;
  position: fixed;
  width: 100%;
  z-index: 100 !important;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  img {
    height: 100px;
    justify-self: flex-start;
    position: relative;
    left: 5%;
  }

  img:hover {
    cursor: pointer;
  }
}

.contact-circle-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: white;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  z-index: 3;

  img {
    height: 60px;
    margin: 0 auto;
  }
}

.contact-circle-container:hover {
  cursor: pointer;
}

@keyframes pulsate {
  0% {
    border-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
  }
  50% {
    border-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
  100% {
    border-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
  }
}

.shadow {
  transition: all 1s;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.contact-circle-container {
  animation: pulsate 2s infinite;
}

@media screen and (max-width: 768px) {
  header {
    img {
      height: 90px;
    }
  }
  .contact-circle-container {
    bottom: 25px;
    left: 15px;
    height: 58px;
    width: 58px;

    img {
      height: 40px;
    }
  }
}
