::ng-deep app-embedded-content {
  background-color: white;
  padding-bottom: 2px !important;
  padding-top: 250px !important;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  img {
    background-color: white;
    width: 100%;
    max-height: 520px;
    height: auto;
    object-fit: cover
  }

  h1 {
    font-family: "Bebas Neue", serif !important;
    letter-spacing: 1.4px;
    line-height: 60px;
    font-size: 70px;
    font-weight: 700;
    position: absolute;
    width: 90%;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .container {
    h1 {
      font-size: 50px;
      line-height: 50px;
    }

    img {
      margin-top: -10px;
    }
  }
}
