<div class="container">
  <h2>Impressum</h2>
  <p><strong>LRL Cars&Cargo GmbH</strong></p>
  <p>Mutzentäli 8</p>
  <p>8207 Schaffhausen</p>
  <p>Schweiz</p>
  <p><strong>Telefon:</strong> +49 123 456 7890</p>
  <p><strong>E-Mail:</strong> <a href="mailto:info@lrl-carscargo.com">info&#64;lrl-cars-cargo.ch</a></p>
  <p><strong>Web:</strong> <a href="http://www.lrl-carscargo.com">www.lrl-cars-and-cargo.ch</a></p>

  <h3>Nutzungsbedingungen (Stand Oktober 2024)</h3>

  <h4>Anwendungsbereich</h4>
  <p>Die Nutzung dieser von LRL Cars&Cargo angebotenen Internet-Seiten ist ausschließlich aufgrund dieser Bedingungen
    zulässig. Mit Log-in oder, falls ein gesonderter Log-in nicht erforderlich ist, wird durch die Aufnahme der Nutzung
    die Geltung dieser Nutzungsbedingungen in ihrer jeweiligen Fassung akzeptiert.</p>

  <h4>Inhalt der LRL Cars&Cargo Website</h4>
  <p>LRL Cars&Cargo übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der
    bereitgestellten Informationen. LRL Cars&Cargo macht keinerlei Zusicherungen und übernimmt keinerlei Gewährleistung
    hinsichtlich der Exaktheit oder Verlässlichkeit der Informationen und Inhalte, die auf dieser Website enthalten
    sind,
    über diese Website weitergegeben oder heruntergeladen werden oder auf die auf dieser Website verwiesen bzw.
    zugegriffen wird.</p>

  <p>Haftungsansprüche gegen LRL Cars&Cargo, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch
    die
    Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger
    Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens LRL Cars&Cargo kein nachweislich
    vorsätzliches oder grob fahrlässiges Verschulden vorliegt. LRL Cars&Cargo behält sich ausdrücklich vor, Teile der
    LRL
    Cars&Cargo Webseiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder
    die Veröffentlichung zeitweise oder endgültig einzustellen. LRL Cars&Cargo darf den Zugang zu der LRL Cars&Cargo
    Website jederzeit sperren, insbesondere wenn der Nutzer gegen seine Pflichten aus diesen Bedingungen verstößt.</p>

  <h4>Haftung aufgrund von Verweisen und Links</h4>
  <p>Bei direkten oder indirekten Verweisen auf fremde Internetseiten („Links“), die außerhalb des
    Verantwortungsbereiches
    von LRL Cars&Cargo liegen, würde eine Haftungsverpflichtung ausschließlich in Kraft treten, wenn LRL Cars&Cargo von
    den Inhalten und der Rechtswidrigkeit Kenntnis hat und nicht unverzüglich tätig wird, um die Information zu
    entfernen
    oder den Zugang zu sperren, soweit ihr dies technisch möglich und zumutbar ist.</p>

  <p>LRL Cars&Cargo erklärt hiermit ausdrücklich, dass sie vor dem Setzen von Links die Inhalte, auf die verwiesen wird,
    geprüft hat und zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar
    waren.
    Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat
    LRL Cars&Cargo keinerlei Einfluss. Deshalb distanziert sich LRL Cars&Cargo hiermit ausdrücklich und ernsthaft von
    allen Inhalten aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden.</p>

  <p>Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für
    Fremdeinträge in von LRL Cars&Cargo eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten.</p>

  <p>Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder
    Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche
    verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>

  <h4>Urheberrecht</h4>
  <p>LRL Cars&Cargo ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente,
    Videosequenzen und Texte zu beachten, von ihr selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu
    nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des
    Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt
    den
    Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer.
    Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter
    geschützt sind.</p>

  <p>Das Copyright für veröffentlichte, von LRL Cars&Cargo selbst erstellte Objekte bleibt allein beim jeweiligen
    Urheber.
    Eine Verwertung solcher Grafiken, Tondokumente, Videosequenzen und Texte, wie Vervielfältigung, Bearbeitung oder
    Wiedergabe, ist ohne ausdrückliche Zustimmung von LRL Cars&Cargo nicht gestattet. Außerhalb der jeweils hierin
    ausdrücklich eingeräumten Nutzungsrechte oder sonstiger Rechte, werden dem Nutzer keine weiteren Rechte gleich
    welcher
    Art, insbesondere an den Firmennamen und an gewerblichen Schutzrechte, wie Patenten, Gebrauchsmuster oder Marken
    eingeräumt, noch trifft LRL Cars&Cargo eine entsprechende Pflicht derartige Rechte einzuräumen.</p>

  <h4>Rechtswirksamkeit, Gerichtsstand und anwendbares Recht</h4>
  <p>a) Sofern Teile oder einzelne Formulierungen dieser Nutzungsbedingungen der geltenden Rechtslage nicht, nicht mehr
    oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile in ihrem Inhalt und ihrer Gültigkeit davon
    unberührt.</p>
  <p>b) Gerichtsstand ist in Schaffhausen</p>
  <p>c) Es gilt deutsches Recht unter Ausschluss des UN-Kaufrechts.</p>
</div>
