.container {
  margin: 130px auto auto;
  padding-bottom: 50px;
  width: 95%;
}

h1 {
  color: white;
  font-weight: bolder;
  font-size: 26px;
}

h2, p {
  color: white;
}

h3, h4 {
  color: white;
  font-weight: bolder;
}

a {
  color: lightblue;
}

p {
  margin: 0 0 10px;
}
