.container {
  margin: 100px auto auto;
  padding-bottom: 50px;
  width: 90%;
}
h1 {
  color: #333;
  font-weight: bolder;
  font-size: 26px;
}
h3, h4 {
  color: #333;
  font-weight: bolder;
}
p {
  margin: 0 0 10px;
}
