.review-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: -90px;
  padding-bottom: 80px;

  div {
    width: 90%;
    max-width: 1800px;
    iframe {
      background-color: white;
      overflow-x: hidden;
    }
  }
}


