<div class="car-banner-container hidden animate-bottom" appIntersectionObserver>
  <div class="banner">
    <img src="../../../../assets/car.png" alt="Auto">
    <div class="content">
      <h2>Fahrzeuge nach individuellen Anforderungen</h2>
      <ul>
        <li>Verkauf von gut gepflegten und maximal erhaltener Occasion-Fahrzeuge</li>
        <li>Spezifische Anfragen für weltbekannte Marken und Modelle</li>
      </ul>
    </div>
  </div>

  <div style="width: 100%;">
    <app-benefits></app-benefits>
    <app-swipe-images></app-swipe-images>
  </div>
</div>
