<div class="welcome-container">

  <h1 class="animate-top" appIntersectionObserver>Keine Bremsen für gute Deals!</h1>
  <h2 class="animate-top" appIntersectionObserver>
    Bei LRL Cars and Cargo ist es uns ein Anliegen, qualitativ
    hochwertige Gebrauchtfahrzeuge zu außergewöhnlich günstigen Preisen anzubieten
  </h2>
  <div class="cars-container">
    <button class="buy-car" (click)="navigatePage('/fahrzeuge')">Fahrzeuge
    </button>
    <button class="sell-car" (click)="navigatePage('/verkaufen')">Auto
      Verkaufen
    </button>
  </div>
</div>
