.welcome-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  video {
    width: 102%;
    max-height: 650px;
    object-fit: cover;
  }

  h1 {
    -webkit-text-stroke: 1px white;
    letter-spacing: 1.4px;
    line-height: 60px;
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    width: 90%;
    filter: brightness(0) invert(1);
  }

  .cars-container {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 160px;
  }

  .buy-car {
    text-wrap: nowrap;
    font-weight: 700;
    background-color: #D2042D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
    top: 270px;
    left: 20px;
    width: 230px;
    height: 60px;
    transition: 0.3s;
  }

  .buy-car:hover {
    background-color: #f30333;
    transition: 0.3s;
  }

  .sell-car {
    text-wrap: nowrap;
    font-weight: 700;
    background-color: white;
    color: #D2042D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
    top: 270px;
    right: 20px;
    width: 230px;
    height: 60px;
    transition: 0.3s;
  }

  .sell-car:hover {
    background-color: #cbcbcb;
    transition: 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .welcome-container {
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
  }
  .cars-container {
    margin-top: 140px !important;

    .buy-car {
      text-wrap: pretty;
      font-size: 20px;
      width: 190px;
      height: auto;
      padding: 15px 0 !important;
    }

    .sell-car {
      text-wrap: pretty;
      font-size: 20px;
      width: 190px;
      height: auto;
      padding: 15px 0 !important;
    }
  }
}


@media screen and (max-width: 415px) {
  .cars-container {
    margin-top: 130px !important;

    .buy-car {
      font-size: 20px;
      width: 150px !important;
      height: auto;
      padding: 3px !important;
    }

    .sell-car {
      font-size: 20px;
      width: 150px !important;
      height: auto;
      padding: 3px !important;
    }
  }
}
