@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.swipe-images-container {
  background-color: #3b3b3c;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;

  h4 {
    padding-top: 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 90%;
  }

  swiper-container {
    width: 50%;
    margin: 0 auto;
  }

  swiper-slide {
    align-self: center;
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 95%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .swipe-images-container {
    swiper-container {
      width: 80%;
    }
  }
}
