<div class="navigation-container">
  <a routerLink="about-us">Garantie</a>
  <a routerLink="about-us">Über uns</a>
  <a routerLink="about-us">Kaufen</a>
  <a routerLink="about-us">Verkaufen</a>
</div>

<div class="mobile-navigation-container">
  <mat-icon *ngIf="!mobileNavigationVisible" fontIcon="menu" (click)="toggleMobileNavigation()"></mat-icon>
  <mat-icon *ngIf="mobileNavigationVisible" fontIcon="close" (click)="toggleMobileNavigation()"></mat-icon>
  <div *ngIf="mobileNavigationVisible" class="mobile-navigation">
    <a (click)="navigatePage('/about-us')">Garantie</a>
    <a (click)="navigatePage('/about-us')">Über uns</a>
    <a (click)="navigatePage('/about-us')">Kaufen</a>
    <a (click)="navigatePage('/about-us')">Verkaufen</a>
  </div>
</div>
