<div class="navigation-container">
  <a routerLink="über-uns">Über uns</a>
  <a routerLink="fahrzeuge">Fahrzeuge</a>
  <a routerLink="verkaufen">Auto verkaufen</a>
  <a routerLink="transport">Cargo Transport</a>
</div>

<div class="mobile-navigation-container">
  @if (mobileNavigationVisible) {
  <mat-icon fontIcon="close" (click)="toggleMobileNavigation()"></mat-icon>
  } @else {
  <mat-icon fontIcon="menu" (click)="toggleMobileNavigation()"></mat-icon>
  }
  <div class="mobile-navigation" [ngClass]="mobileNavigationVisible ? 'animate' : 'hide'">
    <a (click)="navigatePage('/über-uns')">Über uns</a>
    <a (click)="navigatePage('/fahrzeuge')">Fahrzeuge</a>
    <a (click)="navigatePage('/verkaufen')">Auto verkaufen</a>
    <a (click)="navigatePage('/transport')">Cargo Transport</a>
  </div>
</div>
