<h1 class="title">Wir transportieren Ihre Fahrzeuge sicher von A nach B!</h1>
<div class="locations-container">
  <div class="from">
    <h1>Startort</h1>
    <input class="input"
           type="text"
           #fromAdress>
  </div>

  <div class="to">
    <h1>Endort</h1>
    <input class="input"
           type="text"
           #toAdress>
  </div>
</div>
@if (showFromAdress && showToAdress) {
  <div class="info-container">
    <div>
      <h2>Von:</h2>{{ showFromAdress }}
      <h2>Nach:</h2>{{ showToAdress }}
    </div>

    <div>
      <h2>Distanz:</h2>{{ distance }}
      <h2>Preis:</h2>~CHF{{ price }}
    </div>
  </div>
  <div class="accept-container">
    <button (click)="navigatePage()">Weiter zum Angebot</button>
  </div>
}

<div id="map"></div>

<app-footer></app-footer>
