.float-in {
  animation: flyInAnimation 1s ease-in-out;
  transform-origin: bottom;
}

@keyframes flyInAnimation {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
