<div class="navigation-container">
  <a routerLink="/" [class.active]="selectedNavItem === '/'">Home</a>
  <a routerLink="über-uns" [class.active]="selectedNavItem === '/%C3%BCber-uns'">Über uns</a>
  <a routerLink="fahrzeuge" [class.active]="selectedNavItem === '/fahrzeuge'">Fahrzeuge</a>
  <a routerLink="verkaufen" [class.active]="selectedNavItem === '/verkaufen'">Auto verkaufen</a>
  <a routerLink="transport" [class.active]="selectedNavItem === '/transport'">Cargo Transport</a>
</div>

<div class="mobile-navigation-container">
  @if (mobileNavigationVisible) {
  <mat-icon fontIcon="close" (click)="toggleMobileNavigation()"></mat-icon>
  } @else {
  <mat-icon fontIcon="menu" (click)="toggleMobileNavigation()"></mat-icon>
  }
  <div class="mobile-navigation" [ngClass]="mobileNavigationVisible ? 'animate' : 'hide'">
    <a (click)="navigatePage('/')" [class.active]="selectedNavItem === '/'">Home</a>
    <a (click)="navigatePage('/über-uns')" [class.active]="selectedNavItem === '/%C3%BCber-uns'">Über uns</a>
    <a (click)="navigatePage('/fahrzeuge')" [class.active]="selectedNavItem === '/fahrzeuge'">Fahrzeuge</a>
    <a (click)="navigatePage('/verkaufen')" [class.active]="selectedNavItem === '/verkaufen'">Auto verkaufen</a>
    <a (click)="navigatePage('/transport')" [class.active]="selectedNavItem === '/transport'">Cargo Transport</a>
  </div>
</div>
